<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Supplier</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
    <div class ="flex-box-container-1 container">
        <h1 class="mb-4">Supplier</h1>
        <a href = "/supplier/new" class = "btn btn-success">New Supplier</a>
        
        <% suppliers.forEach(s => { %>
            <div class="card mt-4">
                <div class='card-body'>
                    <h4 class="card-title"><%= s.name%></h4>
                    <div class='card-subtitle text-muted mb-2'>
                        Date Created: <%= s.createdAt.toLocaleDateString() %>
                    </div>
                    <div class='card-text mb-2'>
                        Address: <%= s.address %>
                    </div>
                    <a href = "supplier/<%=s.slug%>" class = "btn btn-primary">Read More</a>
                    
                    <a href="supplier/edit/<%= s.slug %>" class="btn btn-info">Edit</a>
        
                </div>
            </div>
        <%})%>
    </div>
</body>
</html>